@*@model PagedList.IPagedList<GameStore.Web.Models.GameSearchModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc;*@

<div class="col-lg-3">

   
</div>
<div class="col-lg-8" id="result">
   

        


        @Html.Partial("GameList")
        

</div>